
<section>
  <div class="mb-4 flex items-center justify-between">
    <h1 class="text-xl font-semibold">Libri</h1>

    <div class="flex items-center gap-3">
      <button mat-button type="button" (click)="createAuthor()">
        Nuovo autore
      </button>

      <button mat-flat-button type="button" (click)="createBook()">
        Crea nuovo libro
      </button>
    </div>
  </div>

  @if (loading()) {
    <div class="flex justify-center py-12">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  }

  @if (error()) {
    <p class="text-red-600">{{ error() }}</p>
  }

  @if (!loading() && !error()) {
    @if (books().length === 0) {
      <p>Nessun libro trovato</p>
    } @else {
        <!-- border border-slate-300 -->
      <table mat-table [dataSource]="books()" class="w-full">


        <ng-container matColumnDef="authors">
          <th mat-header-cell *matHeaderCellDef>Autori</th>
          <td mat-cell *matCellDef="let book">
            @for (author of book.authors; track author.id) {
              <span>{{author.name}} {{author.last_name}}</span> <br>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Titolo</th>
          <td mat-cell *matCellDef="let book">
            {{ book.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="isbn">
          <th mat-header-cell *matHeaderCellDef>ISBN</th>
          <td mat-cell *matCellDef="let book">
            {{ book.isbn }}
          </td>
        </ng-container>

        <ng-container matColumnDef="editor">
          <th mat-header-cell *matHeaderCellDef>Editore</th>
          <td mat-cell *matCellDef="let book">
            {{ book.editor.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantità</th>
          <td mat-cell *matCellDef="let book">
            {{ book.total_quantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="occupied">
          <th mat-header-cell *matHeaderCellDef>Impegnati</th>
          <td mat-cell *matCellDef="let book">
            {{ book.occupied_quantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="daily_price">
          <th mat-header-cell *matHeaderCellDef>prezzo giornaliero</th>
          <td mat-cell *matCellDef="let book">
            {{ book.daily_price }} €
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="cursor-pointer transition-colors hover:bg-slate-50"
          (click)="editBook(row)"
        ></tr>
      </table>

      <mat-paginator
        [length]="totalBooks()"
        [pageIndex]="currentPage() - 1"
        [pageSize]="pageSize()"
        [hidePageSize]="true"
        (page)="changePage($event)"
      />
    }
  }
</section>
